// font variable
.heading-64{
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: 500;
    line-height: 120%;
}
.heading-40{
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 600;
    line-height: 130%;
}
.heading-24{
    font-size: clamp(1rem, 5vw, 1.5rem);
      font-weight: 600;
}
.font-20{
font-size: clamp(1rem, 5vw, 1.25rem);
}
.font-16{
 font-size:1rem;
}
.font-14{
 font-size:0.85rem;
}
