@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

