@use "tailwindcss";
@use 'styles/main.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');




body {
  font-family: "Saira", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 1rem;
  color: #23262F;
}



// font
